extends layout

block content
 a(href='/new')
      button Add Message
 ul
    each message in messages
      div 
        li #{message.user}
        li #{message.text}
        li #{message.added}
       
      br
